body {
  font: 100% "Montserrat", sans-serif;
  color: white;
  background: #fbf2e9 !important;
}

/* Navigation bar */

#navsection {
  background-color: white !important;
}

#logo {
  height: 50px;
}

#cube {
  margin-top: 10vh;
  margin-left: 34vw;
}

#cubehome {
  height: 30px;
}

#hometext {
  margin-top: 5vh;
  margin-left: 0 !important;
}

#introbox {
  display: grid;
  margin: 100px auto;
}

button {
  margin: 5px;
  width: 80px;
}

input {
  margin: 5px;
}

.jumbotron {
  margin-top: 5vh;
  width: 500px;
  background: #fbf2e9 !important;
  text-align: center;
}

.loginForm {
  font-family: 'Source Sans Pro', sans-serif !important;
  display: grid;
  margin: 20vh auto;
  padding: 20px;
  height: 400px;
  width: 300px;
  background: white;
  border-radius: 15px;
}

/* Welcome message when logged in */

.welcomemsg {
  height: 300px;
  width: 300px;
  background: red;
}

.registerForm {
  font-family: 'Source Sans Pro', sans-serif !important;
  display: grid;
  margin: 20vh auto;
  padding: 20px;
  height: 400px;
  width: 300px;
  background: white;
  border-radius: 15px;
}

.home p {
  color: black;
}

/* Projects */

.card-deck {
  margin: 5vh;
}


/* Idea Box wrapper */

.wrapper {
  display: grid;
  height: 80vh;
  width: 40vw;
  margin: 10vh auto;
}

