body {
  font: 100% "Montserrat", sans-serif;
  color: white;
  background: #fbf2e9 !important;
}

/* Navigation bar */

#navsection {
  background-color: white !important;
}

#logo {
  height: 50px;
}

#cube {
  margin-top: 10vh;
  margin-left: 34vw;
}

#cubehome {
  height: 30px;
}

#hometext {
  margin-top: 5vh;
  margin-left: 0 !important;
}

#introbox {
  display: grid;
  margin: 100px auto;
}

button {
  margin: 5px;
  width: 80px;
}

input {
  margin: 5px;
}

.jumbotron {
  margin-top: 5vh;
  width: 500px;
  background: #fbf2e9 !important;
  text-align: center;
}

.loginForm {
  font-family: 'Source Sans Pro', sans-serif !important;
  display: grid;
  margin: 20vh auto;
  padding: 20px;
  height: 400px;
  width: 300px;
  background: white;
  border-radius: 15px;
}

/* Welcome message when logged in */

.welcomemsg {
  height: 300px;
  width: 300px;
  background: red;
}

.registerForm {
  font-family: 'Source Sans Pro', sans-serif !important;
  display: grid;
  margin: 20vh auto;
  padding: 20px;
  height: 400px;
  width: 300px;
  background: white;
  border-radius: 15px;
}

.home p {
  color: black;
}

/* Projects */

.card-deck {
  margin: 5vh;
}


/* Idea Box wrapper */

.wrapper {
  display: grid;
  height: 80vh;
  width: 40vw;
  margin: 10vh auto;
}

#ideatext {
  margin-top: 200px;
  display: grid;
  justify-content: center;
}

table{
  width: 37%;
  margin: 20px auto;
  border-collapse: collapse;
  text-align: left;
  border: solid black 3px;
}

tr {
  border-bottom: 1px solid #cbcbcb;
}

th, td{
  border: none;
  height: 30px;
  padding: 2px;
}

tr:hover {
  background: #F5F5F5;
}

form {
  font-family: Arial, Helvetica, sans-serif;
  width: 37%;
  margin: 40px auto;
  text-align: center;
  padding: 20px; 
  border: 1px solid black; 
  border-radius: 5px;
  font-weight: bold;
}

.input-group {
  margin: 10px 0px 10px 0px;
}

.input-group label {
  display: grid;
  text-align: center;
}

.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn {
  padding: 10px;
  font-size: 16px;
  color: white;
  background: yellowgreen;
  border: none;
  border-radius: 5px;
}

.edit_btn {
  text-decoration: none;
  padding: 2px 5px;
  background: #E5E501;
  color: white;
  border-radius: 3px;
}

.del_btn {
  text-decoration: none;
  padding: 2px 5px;
  color: white;
  border-radius: 3px;
  background: orangered;
}

.msg {
  margin: 30px auto; 
  padding: 10px; 
  border-radius: 5px; 
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  width: 38%;
  text-align: center;
}

